@charset "utf-8";

  
/* id # contenedor del body   */
#principal {
   background-color: rgb(153,204,153);
    width: 1000px;
    margin:auto; 
   overflow: hidden;
}

#CabeceraPagina {
            background-color:  rgb(153,    overflow: hidden;204,102);
              border:double;      
}

header:not(#CabeceraPagina) {
    background-color: rgba(255,255,255,0.3);    
}



/* Barra de navación cabecera */
#barra {
    background-color: #FF6600;
    height:50px;
    padding:5px;
}

#barra ul li:nth-child(1){
    background:#FFFFFF;
}
#barra ul li:nth-child(2){
    background:#CCCC;
}
#barra ul li:nth-child(3){
    background:#999999;
}

#barra ul li {
    display:inline;
    margin:10px;
    background-color:#E4E4E4;
    padding: 5px;
}


/* Vinculos */
a:link {
  color: green;     
}

a:visited {
    color:blue;
}

a:hover {
    color:red;
}

a:active:visited {
    color:yellow;
}

#sobreContxita img {
    margin:10px;
    float:left;
}

#sobreContxita aside {
    width:770px;
    height:226px;
    margin: 10px 10px 10px 0px;
    float:left;
    overflow: hidden;


}
/* Articulos */
#blog {
    margin:0px 5px 5px 10px;
    width:760px;
    background-color: rgba(250,250,250,.7);
    float:left;

}
#posts {
    margin:0px 10px 5px 5px;
    width:210px;
    height:500px;
    background-color: rgba(250,250,250,0.7);
    float:left;
 
    

}
footer{
   background-color:rgba(0, 80, 250, .7);
   margin-top:5px;
   width:1000px;
   height:80px;
   float:left;
  }
  

}
/*article p:nth-of-type(odd) {
    background-color: rgba(250,250,250,0.7);   
   }
article p:nth-of-type(even) {
    background-color: rgba(250,250,250,0.5);   
   }
*/

#formulario {
    background-image: url("../imagenes/Teclas.jpg");
    background-repeat: no-repeat;
    background-position: left;
}

#formulario  p, fieldset {
    background-color: rgba(250,250,250,.5);
}

