/* Capitulo 11. Formularios
    http://librosweb.es/libro/css/capitulo_11.html
*/
HEADER {
    text-align: center;
}
input {
    padding: .2em;
    margin-top: 10px;
    margin-bottom: 10px;
/*  display: inline;  */
}
input:focus {
  border: 2px solid #000;
  background: #F3F3F3;
}
input:invalid {
  background-color: #ffdddd;
}
input:required {
  border-color: #800000;
  border-width: 3px;
}
input[type=number]:in-range
 {
    background-color: rgba(0, 255, 0, 0.25);
}
input[type=number]:out-of-range {
    background-color: rgba(255, 0, 0, 0.25);
    border: 2px solid red;
}
fieldset {
    width: 150px;
}
label {
    color:darkslategrey;
    margin-left: 15px;
    margin-right: 5px;
}

textarea {
    color: red;
}
input[type=submit] {
    align-items:  center;
}

div {
      display: inline-block;  
}
#formulari {
    margin-left: 60px;
    margin-right:60px;
    padding: 30px;
    border 1px;
    border-style: solid;
    border-radius: 25px;
    background-color: beige;

}
