body {
     background-color:azure;
     display:block;
     vertical-align:top;
    }


header {
    background-color:yellow; 
    padding-bottom:10px;
    padding-top:10px;
    text-align:center; 
    background-image:url(images/patron-continuo-de-flores.jpg);

    }

nav {
    height:300px;
    width:200px;
    padding:5px;
    text-align: center;

    }

section  {
    width:720px;
    margin-left:292px;
    margin-top: -300px;
    padding-left: 20px;
    border-left: 3px solid green;
    background-image: url('images/What-your-tutor.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    }

aside {
    width:240px;
    height:350px;
    margin-left:1050px;
    margin-top: -1100px; 
    border-left: 3px das green;
    padding:15px;
    }
footer {
    text-align:center;
    padding:5px;
    background-color:aquamarine;
    }

img.center {
       display: block;
       margin: 0 auto;
    }

/* ---- Pie de pagina */
#fecha  {
   margin-right:10%;
   float:right;
}

#myname {
    margin-left:20%;
    float:left;
}


input {
    padding: .2em;
    margin:10px 2px 5px 40px;
/*  display: inline;  */
}

/*  ----- Inicio: Gestion del menu ----------- */
#cssmenu {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  width: 12em;
}
#cssmenu li {
  font: 67.5%;
  margin: 0;
  padding: 0;
  list-style: none;

}
#cssmenu a {
  border: 1px solid black;
  /*color: #ccc; */
  display: block;
  padding: 8px 12px; 
  text-decoration: none;
}

#cssmenu a:link {
 /* background: #2580a2 url("images/hover.gif") left center no-repeat;  */
  background: #E4E4E4 url("https://turevista.files.wordpress.com/2008/04/copia-de-flecha.png") left center no-repeat;
  color: #2580a2;
  padding-bottom: 8px;
}

#cssmenu a:hover {
 /* background: #2580a2 url("images/hover.gif") left center no-repeat; */
    background: #E4E4E4 url("http://lh5.ggpht.com/-oyfi0lOCzR0/U9hVLHREMkI/AAAAAAABLWA/je8ANsSreso/gifs-animados-flechas-manitas-senalizadores-019%2525255B9%2525255D.gif%3Fimgmax%3D800") left center no-repeat;  
  color: black;
  padding-bottom: 8px;
}
/*  -----Fin: Gestion del menu ----------- */